.list ul {
    list-style: disc;
    padding-left: 1rem;
}

.list li {
    margin-bottom: 0.5rem;
}

.image {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
